<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Book New Ride</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
	<div class="w3-bar w3-white w3-card" id="myNavbar">
		<a href="/" class="w3-bar-item w3-button w3-wide">FANRIDE</a>
		<!-- Right-sided navbar links -->
		<div class="w3-right w3-hide-small">
			<a th:href="@{/users}" class="w3-bar-item w3-button">Dashboard</a>
			<a class="w3-bar-item w3-button">
				<form th:action="@{/logout}" method="post">
					<input type="submit" visible="false" value="Sign Out" />
				</form>
			</a>
		</div>
		<!-- Hide right-floated links on small screens and replace them with a menu icon -->

		<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
			<i class="fa fa-bars"></i>
		</a>
	</div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
	<a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
	<a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
	<a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
	<a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
	<a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
	<a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>
</br></br></br>
<div>
	<table class="table table-striped table-bordered">
		<thead class="thead-dark">
		<tr>
			<th>Ride ID</th>
			<th>Ride Giver ID</th>
			<th>Car Number</th>
			<th>Start Location </th>
			<th>Destination </th>
			<th>Price per KM </th>
			<th>Select the ride </th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="RideGiver: ${listRideGivers}">
			<td  th:text="${RideGiver.id}">Ride ID</td>
			<td th:text="${RideGiver.ride_giver_id}">RideGiver ID</td>
			<td th:text="${RideGiver.CarNumber}">Car Number</td>
			<td th:text="${RideGiver.StartLocation}">Start location </td>
			<td th:text="${RideGiver.Destination}">Destination</td>
			<td th:text="${RideGiver.pricePerKM}">Price Per KM</td>
			<td> <a th:href="@{/deleteRideGiver/{id}(id=${RideGiver.id})}" >DELETE<i class="fa fa-edit" ></i></a></td>
		</tr>
		</tbody>
	</table>

	<table class="table table-striped table-bordered">
		<thead class="thead-dark">
		<tr>
			<th>RideTaker ID</th>
			<th>Ride ID</th>
			<th>Start</th>
			<th>Destination</th>
			<th>KM</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="RideTaker: ${listRideTakers}">
			<td  th:text="${RideTaker.id}">Ride ID</td>
			<td th:text="${RideTaker.ride_Id}">RideGiver ID</td>
			<td th:text="${RideTaker.StartLocation}">Start location </td>
			<td th:text="${RideTaker.Destination}">Destination</td>
			<td th:text="${RideTaker.KM}">KM</td>
			<td> <a th:href="@{/deleteRideTaker/{id}(id=${RideTaker.id})}" >DELETE<i class="fa fa-edit" ></i></a></td>
		</tr>
		</tbody>
	</table>

	<table class="table table-striped table-bordered">
		<thead class="thead-dark">
		<tr>
			<th>User ID</th>
			<th>E-mail</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Delete</th>
			<th>Update</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="user: ${listUsers}">
			<td th:text="${user.id}">User ID</td>
			<td th:text="${user.email}">E-mail</td>
			<td th:text="${user.firstName}">First Name</td>
			<td th:text="${user.lastName}">Last Name</td>
			<td> <a th:href="@{/deleteUser/{id}(id=${user.id})}" >DELETE<i class="fa fa-edit" ></i></a></td>
		</tr>
		</tbody>
	</table>
	</div>
</body>
</html>