<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add New Ride</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
p{

width:40%

text-align:left;
}
input{
}

fieldset{

width:40%

}

</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
	<div class="w3-bar w3-white w3-card" id="myNavbar">
		<a href="/" class="w3-bar-item w3-button w3-wide">FANRIDE</a>
		<!-- Right-sided navbar links -->
		<div class="w3-right w3-hide-small">
			<a th:href="@{/users}" class="w3-bar-item w3-button">Dashboard</a>
			<a class="w3-bar-item w3-button">
				<form th:action="@{/logout}" method="post">
					<input type="submit" visible="false" value="Sign Out" />
				</form>
			</a>
		</div>
		<!-- Hide right-floated links on small screens and replace them with a menu icon -->

		<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
			<i class="fa fa-bars"></i>
		</a>
	</div>
</div>


<h1>&nbsp;</h1>
<h1>Add New Ride</h1>
<form action="#" th:action="@{/ride_giver_processed}" th:object="${ride_giver}" method="post">
	<fieldset>
	<p>Email  : </p><input type="text" required th:field="*{email}" />
	<p>Start Location: </P><input type="text" required th:field="*{startLocation}" />
	<p>Destination   : </P><input type="text" required th:field="*{Destination}" />
	<p>Car Number    : </P><input type="text" required th:field="*{CarNumber}" />
		<p>Price per KM  : </P><input type="number" required value="1" th:field="*{pricePerKM}" />
	<p>Seats         : </P><input type="number" required value="1" th:field="*{seats}" />
	<p>Date          : </P><input type="date" required placeholder="mm/dd/yyyy" value="" min="1997/01/01" max="2030/12/31" th:field="*{rideDate}" />
	<p>Time        : </P><input type="time"th:field="*{Time}" />
		<br/><br/>
		<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	</fieldset>
</form>
</body>
</html>