<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>FanRide</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}


.w3-bar .w3-button {
  padding: 16px;
}

label{

width:40%
align:left;

text-align:left;
}
input{}
fieldset{

width:300px;

}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
	<div class="w3-bar w3-white w3-card" id="myNavbar">
		<a href="/" class="w3-bar-item w3-button w3-wide">FANRIDE</a>
		<!-- Right-sided navbar links -->
		<div class="w3-right w3-hide-small">
			<a th:href="@{/users}" class="w3-bar-item w3-button">Book Your Ride</a>
			<a th:href="@{/login}" class="w3-bar-item w3-button">Login</a>
		</div>
		<!-- Hide right-floated links on small screens and replace them with a menu icon -->

		<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
			<i class="fa fa-bars"></i>
		</a>
	</div>
</div>
		<br/><br/>
		<h1>FanRide User Registration</h1>

	<form th:action="@{/process_register}" th:object="${user}"
		  method="post">

		<fieldset>
		<label >E-mail: </label><br/><br/>
		<input type="email" th:field="*{email}" required />
			<br/><br/>

		<label >Password: </label><br/><br/>
		<input type="password" th:field="*{password}" 
						   required minlength="6" maxlength="10"/>
			<br/><br/>
		<label >First Name: </label><br/><br/>
		<input type="text" required th:field="*{firstName}"
						    minlength="2" maxlength="20"/>
			<br/><br/>

		<label >Last Name: </label><br/><br/>
		<input type="text" required th:field="*{lastName}"
						    minlength="2" maxlength="20" />
			<br/><br/>


		<button type="submit" >Sign Up</button>
		</fieldset>

	</form>
<script src="myscript.js"></script>
</body>
</html>
